# Bytecode and cache files
__pycache__/
*.py[cod]

# Test/env-specific caches
.pytest_cache/

# Virtual environments
env/
venv/
.venv/

# Distribution/build artifacts
dist/
build/
*.egg-info/

# Logs
*.log
